<html xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  xmlns:form="http://ns.discorporate.us/flatland/genshi"
>
  <xi:include href="../layout.html"/>
  <body>
    <h1>vlaste fu la lojban</h1>
    <dl py:for="word in words">
      <div>
        <dt><a href="${path('dictionary:word', word=word.id)}">$word.id</a></dt>
        <dd>${creole(word.definition)}</dd>
      </div>
    </dl>
    <nav class="pages">
      <ol py:for="page in xrange(1, total + 1)">
        <?python
          attrs = {}
          if page == request.args.get('papri', 1, int):
            attrs['class'] = 'active'
        ?>
        <li><a href="?papri=$page" py:attrs="attrs">$page</a></li>
      </ol>
    </nav>
  </body>
</html>
