<html
    <xi:include
        @href=../layout.html

    <body
        <h1
            "$word.id

        <article
            <dl class=word-data

                <section
                    <dt
                        "vlatai
                    <dd
                        "${word.type}

                <section
                    @py:if=word.class_
                    <dt
                        "selma'o
                    <dd
                        <code
                            "$word.class_

                <section
                    @py:if=word.affixes
                    <dt
                        "rafsi
                    <dd
                        "${', '.join(word.affixes)}

                <section
                    <dt
                        "smuni
                    <dd
                        "${creole(translation.definition)}

                <section
                    @py:if=translation.notes
                    <dt
                        "notci
                    <dd
                        "${creole(translation.notes)}
