<html xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  xmlns:form="http://ns.discorporate.us/flatland/genshi"
>
  <xi:include href="layout.html"/>
  <body>
    <h1>$page.title</h1>

    <article py:if="'galfi' not in request.args">
      $page.html
      <footer>
        <p><a href="${path('index', galfi='')}">galfi</a></p>
      </footer>
    </article>

    <article py:if="'galfi' in request.args">
      <form action="${path('index')}"
        method="POST"
      >

        <form:with
         auto-domid="on"
         auto-for="on"
         auto-tabindex="on"
         tabindex="1">

          <fieldset>

            <dl>
              <section>
                <dt><label form:bind="form.title">cmene</label></dt>
                <dd><input form:bind="form.title" type="text"/></dd>
              </section>

              <section>
                <dt><label form:bind="form.body">papri</label></dt>
                <dd>
                  <textarea form:bind="form.body"
                    spellcheck="false"
                    cols="60"
                    rows="20"
                  />
                </dd>
              </section>
            </dl>
          </fieldset>
        </form:with>
        <footer>
          <button type="submit">rejgau</button>
        </footer>
      </form>
    </article>
  </body>
</html>
