<?python

  webfonts = [
    'EB Garamond',
    'Buda:light',
  ]

  stylesheets = [
    'http://fonts.googleapis.com/css?family=' + '|'.join(webfonts),
    path('compiled', name='main.css'),
  ]

  javascripts = [
    'https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js',
    path('static', name='creole.js'),
    path('static', name='app.js'),
  ]

?>
<html xmlns:py="http://genshi.edgewall.org/"
  py:strip=""
>
  <head>
    <title>la lojban</title>

    <script py:for="src in javascripts"
      src="$src"
    />

    <link py:for="href in stylesheets"
      href="$href"
      rel="stylesheet"
      type="text/css"
      media="all"
    />
  </head>

  <py:match path="body" once="true">
    <body py:attrs="select('@*')">
      <nav>
        <ul>
          <li><a href="${path('index')}">pamo'o</a></li>
          <li><a href="${path('dictionary:index')}">vlaste</a></li>
        </ul>
      </nav>

      ${select('*|text()')}
    </body>
  </py:match>
</html>
