<?python

  locales = ['en', 'jbo', 'es', 'eo']

  webfonts = [
    'EB Garamond',
    'Buda:light',
  ]

  stylesheets = [
    'http://fonts.googleapis.com/css?family='
        + '|'.join(webfonts).replace(' ', '+'),
    path('compiled', name='main.css'),
  ]

  javascripts = [
    'https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js',
    path('static', name='creole.js'),
    path('static', name='app.js'),
  ]

?>
<html xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  py:strip="">

  <xi:include href="functions.html"/>

  <head>
    <title>la lojban</title>
    <script py:for="src in javascripts"
      src="$src"
      type="text/javascript"/>
    <link py:for="href in stylesheets"
      href="$href"
      rel="stylesheet"
      type="text/css"
      media="all"/>
  </head>

  <py:match path="body" once="true">
    <body py:attrs="select('@*')">
      <nav>
        <ul>
          <li><a href="${path('.frontend:index')}">pamo'o</a></li>
          <li><a href="${path('.dictionary:index')}">vlaste</a></li>
        </ul>
      </nav>
      ${select('*|text()')}

      <footer>
        <ul>
          <li py:for="code in locales">
            <a href="${cross_locale_path(code)}">${locale_name(code)}</a>
          </li>
        </ul>
      </footer>
    </body>
  </py:match>
</html>
