@import "blueprint/reset";
@import "compass/css3/border-radius";

// http://www.colourlovers.com/palette/1604389/who_are_you
$color-0: #2F2C2D;
$color-1: #534046;
$color-2: #F77F67;
$color-3: #E29E6A;
$color-4: #B4B281;

// http://www.colourlovers.com/palette/444487/Curiosity_Killed
$color-5: #EFFFCD;
$color-6: #DCE9BE;
$color-7: #555152;
$color-8: #2E2633;
$color-9: #99173C;

$width  : 960px;
$sans   : "Buda", sans-serif;
$serif  : "EB Garamond", serif;


body {
  font: {
    family: $sans;
    size: 150%;
  }
  h1, h2, h3, code {
    font-family: $serif;
  }
  line-height: 1.5em;
  margin: 0 auto;
  max-width: $width;
  color: $color-0;
}

a {
  text-decoration: none;
  border: none;
  padding: 0 10px;
  background-color: $color-0;
  color: white;
  &:hover, &.active {
    background-color: $color-2;
  }
  @include border-radius();
}

nav {
  ul {
    float: right;
    li {
      margin-left: 10px;
      display: inline;
      list-style: {
        type: none;
        position: inside;
      }
      a {
        font-family: $serif;
        padding: 10px;
      }
    }
  }
}


form {
  fieldset {
    border: none;
    dt {
      vertical-align: top;
    }
  }
  input, textarea {
    font: {
      family: $sans;
      size: 100%;
    }
    border: 1px solid $color-0;
    background: none;
    width: $width - $width/4; 
    &:focus {
      background: $color-6;
    }
    @include border-radius();
  }
  button {
    font: {
      family: $sans;
      size: 100%;
    }
    padding: 10px;
    margin: 1em 0;
    border: none;
    background: $color-4;
    color: white;
    &:hover {
      background-color: $color-6;
      color: $color-0;
    }
    @include border-radius();
  }
}


article {
  footer {
    border-top: 1px solid $color-4;
    text-align: right;
  }
}


dl {
  dt {
    width: $width/4;
    display: table-cell;
    text-align: right;
    padding-right: 1em;
  }
  dd {
    display: table-cell;
    p {
      margin: 0;
    }
  }
  &.word-data dt {
    font-weight: bold;
  }
}


nav.pages, body > footer {
  border-top: 1px solid $color-4;
  padding: 2em;
  text-align: center;
  ol, ul {
    display: inline;
    padding-left: 0;
    li {
      display: inline;
      list-style: {
        position: inside;
        type: none;
      }
      a {
        font-family: $serif;
        padding-bottom: .2em;
        line-height: 2em;
      }
    }
  }
}
